body{
    background-color: cornflowerblue;
    font-family: 'Nunito Sans', sans-serif;
    font-size:1.6em;
}
/* Estilo para el contenedor principal */
.card {
    display: inline-block; 
    width: 100%; 
    overflow: hidden;
}

/* Estilo para el texto */
.card-body {
    float: left; 
    width: 70%; 
    box-sizing: border-box;
    padding: 10px;
}

/* Estilo para la imagen */
.card-img-top {
    float: right; 
    width: 30%; 
    height: 20%;
    box-sizing: border-box;
    margin: 10px;
}
.card-img-top {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%;
}